@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Roboto", system-ui, sans-serif;
  }

  body {
    @apply bg-secondary-light;
  }

}

@layer components {
  .btn-primary {
    @apply flex items-center justify-center w-full max-w-fit text-sm font-bold bg-secondary-dark text-primary-light px-2 py-2 rounded-lg hover:bg-secondary-darker;
  }
  .btn-danger-primary {
    @apply flex w-full max-w-fit font-bold bg-danger text-primary-light px-2 py-2 rounded-lg hover:bg-danger-dark;
  }
}

.table-container {
  overflow-x: auto;
}

@media (max-width: 640px) {
  .table-container {
    width: 100%;
    overflow-x: scroll;
  }

  table {
    min-width: 100%;
  }

  th,
  td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}